#
# {{ ansible_managed }}
#

# Kontena Vault key
VAULT_KEY={{ ks_vault_key }}

# Kontena Vault iv
VAULT_IV={{ ks_vault_iv }}

# Kontena initial admin code
INITIAL_ADMIN_CODE={{ ks_initial_code|default('secret') }}

## These settings are used by the kontena-server-haproxy.service
# To reload these settings, use:
#   systemctl restart kontena-server-haproxy.service

# TCP ports used by clients and agents to connect to the kontena server on the master node
# Configured as published ports on the Docker kontena-server-haproxy container
HTTP_PORT={{ ks_http_port|default(8080) }}
HTTPS_PORT={{ ks_https_port|default(8443) }}

# SSL Certificate
{% if ks_ssl_cert_install and ks_ssl_cert_path|length > 0 %}
SSL_CERT={{ ks_ssl_cert_path }}
{% else %}
#SSL_CERT=/etc/kontena-server.pem
{% endif %}
